.order-item-search-items {
    border: 1px solid #1e3659;
    height: 60%; /* Fill the entire height of the column */
    overflow:auto; /* Enable scrolling if content exceeds the height */
    color: #1e3659;
    margin-left: 5px;
    margin-right: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff !important;
}

.arrange{
    text-align: center;
    padding-top: 80px;
}