<div class="create-new-order">
    <a href="#">
        <i class="fas fa-arrow-left"></i>
        <span class="create-order">Create New Order</span>
    </a>
    |

    <span class="order-status"> {{orderStatus}}</span>

</div>
<div class="delete-order">
    <a href="#">
        <i class="fas fa-trash"></i>
        <span>Delete Order</span>
    </a>
</div>

<div class="header">
    <span class="headline-text">Order#:</span>
    <span class="value-text">{{orderNumber}}</span>

    <span class="headline-text">Created By:</span>
    <span class="value-text">{{createdBy}}</span>

    <span class="headline-text">Created On:</span>
    <span class="value-text">{{createdOn}}</span>

    <span class="headline-text">Total Price:</span>
    <span class="value-text">{{totalPrice}}</span>
</div>