.container-fluid{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #1e3659;
    background-color: #FFFFF0; /* Pure white background */
    
}

.header{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 18px;
    font-weight: bold;
    right: 5%;
    margin: 10px;
    border: 1px solid #1e3659;
    background-color: #fff !important;
}