.custom-center-container{
    background-color: #FFFFF0;
    border: 1px solid #1e3659;
    top: 20%;
    margin-left: -15px;
    color: #FFFFF0;
    width: 100%;
    height: 40%;
    overflow-x: hidden;
    bottom: 0;
    position: fixed;
    margin-top: 10%;
    margin-bottom: 7%;
    background-color: #fff !important;


}