app-header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #FFFFF0;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3); //#1e3659; bottom border for header

}

main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;

}

.black-border {
    border: 1px solid #1e3659;
}

app-navbar-side {
    position: absolute;
    left: 0rem;
    width: 60px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #FFFFF0;
    /* Footer background color (dark gray) */
    //FE6F2F
    border-top: 1px solid  rgba(255, 255, 255, 0.3); //#1e3659 top border for sidenavbar
    border-right: 1px solid  rgba(255, 255, 255, 0.3); //#1e3659 side border for sidenavbar
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;

}

.app-side-nav-open {
    width: 250px;
}

.display-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 60px);
    transition: left 250ms ease-in, width 250ms ease-in;
    background-color: #FFFFF0; /* Footer background color (dark gray) */ //FE6F2F


}

.display-area-shrink {
    width: calc(100% - 250px);
    left: 250px;
}