<div class="col-lg-12 center-container custom-center-container">
    <div class="title mb-2" [ngStyle]="{'padding-top' : '1px'}">ITEMS</div>

    <div class="custom-menu-item" *ngIf="fetchedOrderItemListObj && fetchedOrderItemListObj.length > 0">
        <div *ngFor="let orderItemObj of fetchedOrderItemListObj; index as i">
            <app-order-item [itemObject]="orderItemObj" (addSelectedItemToOrder)="addingFetchedItemsToOrder($event)"></app-order-item>
        </div>
    </div>
</div>
<div class="button-container">
        <button class="cancel-button" type="button">CANCEL</button>
        <span>{{itemsCounting}} items added to order</span>
        <button class="save-button" type="button" (click)="saveOrderItemsListForOrder()">SAVE</button>
</div>