<nav class="navbar navbar-expand navbar-dark bg-dark px-2"> <!-- navbar on header with darkmode-->
    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i> <!-- drop bar -->
    </div>

    <a class="navbar-brand px-4" href="#">Yummy Tummy</a> <!-- App logo and navbar-->
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Menu1</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child2</a></li>
                    <li><a class="dropdown-item" href="#">Child3</a></li>
                    <li><a class="dropdown-item" href="#">Child4</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Menu2</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child2</a></li>
                    <li><a class="dropdown-item" href="#">Child3</a></li>
                    <li><a class="dropdown-item" href="#">Child4</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Menu3</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child2</a></li>
                    <li><a class="dropdown-item" href="#">Child3</a></li>
                    <li><a class="dropdown-item" href="#">Child4</a></li>
                </ul>
            </li>

        </ul>
    </div>

    <form class="d-flex me-5">
        <input class="form-control me-2"  placeholder="search" type="search" >
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>

    <div class="d-flex me-10">
        <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Profile</button>
        <ul class="dropdown-menu dropdown-menu-dark  dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Your Profile</a></li>
            <li><a class="dropdown-item" href="#">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Delete Profile</a></li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
        </ul>
        </li>
    </div>
</nav>


  
