<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open':  sideNavStatus}">
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-grip-vertical fa-rotate-90" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{dashboard | captilize}}" routerLink="/dashboard" routerLinkActive="active"></i>
            <span>
                <a>dashboard</a>
            </span>
        </li>
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-clipboard-list" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{menu | captilize}}" routerLink="/menu/display" routerLinkActive="active"></i>
            <span>
                <a>menu</a>
            </span>
        </li>
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-bag-shopping" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{orders | captilize}}" routerLink="/order/search" routerLinkActive="active"></i>
            <span>
                <a href="#">orders</a>
            </span>
        </li>
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-gear" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{settings| captilize}}" routerLink="/settings" routerLinkActive="active"></i>
            <span>
                <a href="#">settings</a>
            </span>
        </li>
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{about | captilize}}" routerLink="/about" routerLinkActive="active"></i>
            <span>
                <a href="#">about</a>
            </span>
        </li>
        <li class="nav-list-item">
            <!-- using custom pipe and using toolkit display icon nam when mouse hover the icon-->
            <i class="icon fa-solid fa-phone" data-bs-toggle="tooltip" data-bs-placement="right"
                title="{{contact_us | captilize}}" routerLink="/contactUs" routerLinkActive="active"></i>
            <span>
                <a href="#">contact us</a>
            </span>
        </li>
    </ul>
</div>