// // // // orange color :  #FFFFF0;
// // // // white color : #1e3659;
// // // // dark blue color : #1e3659;

.container-fluid{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #1e3659;
    background-color: #FFFFF0; /* Pure white background */
    position: relative;
    font-family: HelveticaNeueLTStd-Bd;



}

.header{
    border-bottom: solid 1px #fafad6;
    width: 100%;
}

.footer{
    border-top: solid 1px #fafad6;
    width: 100%;
}

.orders {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;

    // z-index: 999; /* Ensure it's on top of other content */
}
.create-order-custom{
    position: absolute;
    top: 10%;
    right: 10px;
    color: #1e3659;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #1e3659 ;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}


.title{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 14px;
    letter-spacing: 1px;
    color: #1e3659;
    font-weight: bold;
    padding-top: 10px;
}

.custom-left-container{
    margin-left: 5%;
    border: 1px solid #1e3659;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 10%;
    margin-bottom: 7%;
    overflow: auto;
    color: #FFFFF0;


}
.form-control{
    border: 1px solid #1e3659;
    border-radius:0%;

}
.custom-center-container{
    margin-left: 35%;
    background-color: #FFFFF0;
    border: 1px solid #1e3659;
    top: 0;
    left: 0;
    color: #FFFFF0;
    width: 64%;
    overflow-x: hidden;
    bottom: 0;
    position: fixed;
    margin-top: 10%;
    margin-bottom: 7%;

}

.custom-right-container{
    margin-left: 35%;
    border: 1px solid #1e3659;
    top: 0;
    left: 0;
    overflow: auto;
    position: relative;
    color: #1e3659;
    margin-top: 10%;


}

.btn-custom-reset{
    font-size: 14px;
    color: #1e3659;
    font-weight: bold;

}

.btn-custom-search{
    font-size: 14px;
    color: #1e3659;
    font-weight: bold;

}


.create-order-custom:hover{
    background-color:lightgray;
}