<div class="create-profile">
    <h4><i class="fa-solid fa-user"></i>Create Profile</h4>
    <form>
        <div class="form-group">
            <label for="first-name" class="check-css">First Name :</label>
            <input type="text" id="first-name" class="form-control" placeholder="enter first name">
        </div>

        <div class="form-group">
            <label for="last-name" class="check-css">Last Name :</label>
            <input type="text" id="last-name" class="form-control" placeholder="enter last name">
        </div>

        <div class="form-group">
            <label for="login-name" class="check-css">Login Name :</label>
            <input type="text" id="login-name" class="form-control" placeholder="enter login name">
        </div>

        <div class="form-group">
            <label for="password" class="check-css">Password :</label>
            <input type="text" id="password" class="form-control" placeholder="enter password">
        </div>

        <div class="form-group">
            <label for="email" class="check-css">Email :</label>
            <input type="text" id="email" class="form-control" placeholder="enter email">
        </div>

        <div class="form-group">
            <label for="phone" class="check-css">Phone :</label>
            <input type="text" id="phone" class="form-control" placeholder="enter phone number">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
