.container-fluid {
    margin-top: 1%;
    height: 20vh;
    // border: 1px solid #1e3659;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    color: #1e3659;
    background-color: #FFFFF0;
    font-family: HelveticaNeueLTStd-Bd;
    letter-spacing: 1px;

}

.container-fluid-custom {
    top: 22%;
    height: 62vh;
    bottom: 0%;
    // border: 1px solid #1e3659;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    color: #1e3659;
    background-color: #FFFFF0;
    /* Pure white background */
    font-family: HelveticaNeueLTStd-Bd;
    letter-spacing: 1px;
    


}

mat-horizontal-stepper {

    top: 22%;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 5%;
    position:fixed;
    height: 1vh;
    width: 93%;
    font-family: HelveticaNeueLTStd-Bd;
    border: 1px solid #1e3659;
    background-color: #FFFFF0;
    letter-spacing: 1px;
    background-color: #fff !important;


}

  


::ng-deep .mat-step-header[aria-selected='true'] {
    .mat-step-icon{
        background-color: #4cd964;
        font-family: HelveticaNeueLTStd-Bd;
        border: solid 2px #4cd964;
    }
}
::ng-deep .mat-step-header .mat-step-label{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.button-container{
    top: 84%;
    position:fixed;
    height: 6vh;
    width: 100%;
    font-family: HelveticaNeueLTStd-Bd;
    // border: 1px solid #1e3659;
    background-color: #FFFFF0;
    letter-spacing: 1px;

}
.button-container .align-items-right{
    margin-left: 70%;
}
button {

    color: #1e3659;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #1e3659;
    background-color: #fff;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    align-content:end;
    margin-left: 5px;

}

button:hover{
    background-color:lightgray;
}

  