.order-search-items {
    background-color: #FFFFF0;
    border: 1px solid #1e3659;
    height: 50%; /* Fill the entire height of the column */
    overflow: auto; /* Enable scrolling if content exceeds the height */
    color: #1e3659;
    margin-left: 5px;
    margin-right: 5px;

    margin-top: 20px;
    margin-bottom: 20px;


}

.arrange{
    text-align: center;
    padding-top: 80px;
}