
// body {
//     margin: 0; /* Reset default body margin */
//     padding: 0; /* Reset default body padding */
// }

.user-profile {
    background-color: #FFFFF0;
    color: #1e3659; /* Text color */
    height: 100vh; /* 100% viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Adjust the gap as needed */
    // color: #1e3659; /* Text color */
    // font-family: Arial, sans-serif; /* Font family */
    // color: #1e3659; /* Change text color when hovering */
    // background-color: #fff; /* Change background color when hovering */
}

.user-details {
    text-align: center;
}
.user-details .font-weight-bold{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.user-profile p:hover {
    color: #1e3659; /* Change text color when hovering */
    background-color: #fff; /* Change background color when hovering */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .user-profile h3:hover {
    color: #1e3659; /* Change text color when hovering */
    background-color: #fff; /* Change background color when hovering */
    border-radius: 5px; /* Add rounded corners */
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .user-details p {
    display: flex; /* Use flex layout */
    align-items: center; /* Align items vertically */
  }
  
  .user-details p span {
    margin-left: 10px; /* Add space between label and value */
  }
  

  .user-profile i{
    margin-right: 20px;
  }

  
  h4{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 18px;
    font-weight: bold;
}